{% load static %}
<html>

<head>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Carwash Dinaco</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-#00806F"
        style="background-color:#522220; min-height: 97px;">
        <a class="navbar-brand" href="http://127.0.0.1:8000" style="font-size:21px;">&nbsp;&nbsp;&nbsp;D I N O C O</a>
        <a class="nav-link" style="color: whitesmoke;">|</a>
        {% if user.is_authenticated %}
        <div style="width: 5px;"></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cliente_lista' %}"
                        style="min-width: 21px; font-size: 18px;">Clientes</a>
                </li>
                <div style="width: 10px;"></div>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'automovil_lista' %}"
                        style="min-width: 21px; font-size: 18px;">Automovil</a>
                </li>
                <div style="width: 10px;"></div>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'marca_lista' %}"
                        style="min-width: 21px; font-size: 18px;">Marca</a>
                </li>
                <div style="width: 10px;"></div>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_servicio' %}"
                        style="min-width: 21px; font-size: 18px;">Servicio</a>
                </li>
                <div style="width: 675px;"></div>
                <li class="nav-item" style="float:right">
                    <a class="nav-link" style="min-width: 21px; font-size: 18px; color: whitesmoke;">Bienvenido {{ user.username }}</a>
                </li> 
                <div style="width: 10px;"></div>
                <li class="nav-item" style="float:right">
                    <a class="nav-link" style="min-width: 21px; font-size: 18px;" href="{% url 'logout' %}">Logout</small></a>
                </li>
                {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="fa fa-lock"></span></a>
            </ul>
        </div>
        {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
</body>

</html>