{% extends 'blog/base.html' %}
{% block content %}
<div class="content container">
    <h1 style="text-align: center;">Listado de Clientes</h1>
    <h2 style="text-align: center;">________</h2><br><br>
    <a href="{% url 'cliente_nuevo' %}" class="top-menu" style="color:orange;">Agregar Cliente<span class="fa fa-plus"></a>
    <table class="table table-hover" style="background-color:#F8F9F9;">
        <thead class="thead-dark">
            <tr>
                <th class="header" scope="col">#</th>
                <th class="header" scope="col">Nombres</th>
                <th class="header" scope="col">Apellidos</th>
                <th class="header" scope="col">DPI</th>
                <th class="header" scope="col">Telefono</th>
                <th class="header" scope="col">Foto</th>
                <th class="header" scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in client %}
            <tr>
                <td>{{cliente.pk}}</td>
                <td>{{cliente.nombres}}</td>
                <td>{{cliente.apellidos}}</td>
                <td>{{cliente.dpi}}</td>
                <td>{{cliente.telefono}}</td>
                {% if cliente.imagen %}
                <td><img style="width: 150px; height: 150px; border-radius: 50%;" src="{{cliente.imagen.url}}"></td>
                {% else %}
                <td><img style="width: 150px; height: 150px; border-radius: 50%;" src="https://i.ytimg.com/vi/3aqENB7EaVk/maxresdefault.jpg"></td>
                {% endif %}
                <td><a class="btn btn-warning btn-sm" style="background-color:#F7985B;"
                    href="{% url 'cliente_editar' pk=cliente.pk %}">
                    <i class="fa fa-pencil" style="color: white;"></i>&nbsp;Editar</a>
                    <a class="btn btn-danger btn-sm"
                    href="{% url 'cliente_eliminar' pk=cliente.pk %}">
                        <i class="fa fa-ban" style="color: white;"></i>&nbsp;Eliminar</a>
                </td>
            </tr>
            {%endfor %}
        </tbody>
    </table> 
</div>
</div>
{% endblock %}